<nav class="navbar navbar-expand-lg navbar-dark bg-warning">
<h1><a class="navbar-brand txt" href="/home"><img src="../assets/RBCUplift2.png"></a></h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <span class="navbar-text mr-auto txt">
    Free Coaching for RBC Small Business Owners
  </span>
  <div class="collapse navbar-collapse" id="navbarText">
    <ng-container *ngIf="user === 'employee';else customerOrNotAuth">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/employee/home">Find a Call Opportunity <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Your Calls</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/employee/profile">Profile</a>
        </li>
      </ul>
    </ng-container>
    <ng-template #customerOrNotAuth>
      <ng-container *ngIf="user === 'customer';else notAuth">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/customer/home">Advisors <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Your Calls</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Profile</a>
          </li>
        </ul>
      </ng-container>
    </ng-template>
    <ng-template #notAuth>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="home/#login-section">Login<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </ng-template>
  </div>
</nav>