<app-header user="customer"></app-header>

<div class="flex">
<select class="custom-select custom-select-lg mb-12" [(ngModel)]="selectedCategory" (change)="valueSelected()">
  <option selected>Filter Area of Expertise</option>
  <option *ngFor="let item of categories">{{ item }}</option>
</select>
</div>

<!-- <mat-form-field appearance="fill">
  <mat-label>Filter By Expertise</mat-label>
  <mat-select [formControl]="toppings" multiple (change)="valueSelected()">
    <mat-option *ngFor="let topping of categories" [value]="topping">{{topping}}</mat-option>
  </mat-select>
</mat-form-field> -->

<div class="container-cards">
  <mat-card *ngFor="let advisor of list" style="margin: 1%;">
    <mat-card-header>
      <mat-card-title>{{ advisor.name }}</mat-card-title>
      <mat-card-subtitle>{{ advisor.title }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="advisor.photo" [alt]="advisor.name">
    <mat-card-actions>
      <a routerLink="/customer/employee-profile/{{advisor.id}}" class="btn btn-warning">View Profile</a>
    </mat-card-actions>
  </mat-card>
</div>
