mat-card img{
  object-fit: cover; 
  width: 300px; 
  height: 300px;
}

select{
// width: 30%;
margin: 20px; 
}
.container-cards{
  display: flex; 
  justify-content:center; 
  align-items:center; 
  flex-wrap: wrap;
}

.flex{
  display: flex;
  // justify-content: flex-end;
  margin-left: 2%;
}

@media only screen and (min-width: 768px){
  select{
    width: 30%;
    }
}