.circular--square {
  border-radius: 50%;
  width:200px;
  height: 200px; 
  object-fit: cover;
}

.top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  
}

.wrapper{
  margin: auto;
  padding: 20px;
}
.calling{
  margin-left:20px;
}

.btn btn-primary{
  padding-left:10px;
}

.fa-star, .fa-star-half-empty, .fa-star-o {
  color: orange;
}

.book-rating {
  min-width: 100px;
}

mat-card{
  margin-bottom: 5%;
}

@media only screen and (min-width:768px){
  .top{
    flex-direction: row;
    margin: 20px;
    justify-content: space-evenly;
    align-content: space-between;
  }
}