<app-header user="customer"></app-header>

<select class="custom-select custom-select-lg mb-3" [(ngModel)]="selectedCategory" (change)="valueSelected()">
  <option selected>By Area of Expertise</option>
  <option *ngFor="let item of categories">{{ item }}</option>
</select>

<div style="display: flex; align-content: space-between;  flex-wrap: wrap;">
  <mat-card *ngFor="let advisor of list" style="margin: auto;">
    <mat-card-header>
      <mat-card-title>{{ advisor.name }}</mat-card-title>
      <mat-card-subtitle>{{ advisor.title }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="advisor.photo" [alt]="advisor.name">
    <mat-card-actions>
      <!-- <button mat-button (click)="addadvisor(advisor.sku)">Learn More</button> -->
      <a routerLink="/customer/employee-profile/{{advisor.id}}" class="btn btn-warning">View Profile</a>
    </mat-card-actions>
  </mat-card>
</div>
