<app-header user="employee"></app-header>

<select class="custom-select custom-select-lg mb-3" [(ngModel)]="selectedCategory" (change)="valueSelected()">
  <option selected>Select Skill Requested</option>
  <option *ngFor="let item of categories">{{ item }}</option>
</select>

<div style="display: flex; justify-content:center; align-items:center; flex-wrap: wrap;">
  <mat-card *ngFor="let opportunity of list" style="margin: 1%;">
    <mat-card-header>
      <mat-card-title>{{ opportunity.skill}}</mat-card-title>
      <mat-card-subtitle>{{ getCustomer(opportunity.id) }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="opportunity.photo" [alt]="opportunity.skill">
    <mat-card-actions>
      <a routerLink="/employee/opportunity-detail/{{opportunity.id}}" class="btn btn-warning">View Opportunity</a>
    </mat-card-actions>
  </mat-card>
</div>
