<app-header user="customer"></app-header>
<div class="container wrapper">
  <div class="row">
    <div class="col-sm">
      
      <div class="row mb-3">
        <div class="top">
          <img class="circular--square" src="{{employee.photo}}" />
        <div class="calling"><h1>{{employee.name}}</h1><h2>{{employee.title}}</h2> </div>
      </div>
      </div>
      <div class="row mb-3">
        <mat-card><mat-card-title>Reach out to me for:</mat-card-title>
          <mat-icon>check_circle_outline</mat-icon> Social Media Marketing
          <mat-icon>check_circle_outline</mat-icon> Web Development
          <mat-icon>check_circle_outline</mat-icon> Pitching
          <mat-icon>check_circle_outline</mat-icon> Business Use Case
        </mat-card>
      </div>
      <div class="row mb-3">
        <mat-card><mat-card-title>Note</mat-card-title></mat-card>
      </div>
      <div class="row">
        <mat-card>
          <mat-card-title>Leave a Review</mat-card-title>
          <p>Be the first to write a review.</p>
        </mat-card>
      </div>
    </div>
    <div class="col-sm">
      <mat-card-title>Book a Consultation</mat-card-title>
    </div>
  </div>