.login{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background: linear-gradient(35deg, #f3e073, rgb(250, 240, 195), rgb(255, 249, 169));
}

.card-style{
  width: 30%;
}

mat-icon{
  font-size: 5rem;
  color:wheat;
}

@media only screen and (max-width: 600px) {
  .login {
    flex-direction: column;
    justify-content: centre;
  align-items: center;
  }
  .card-style{
    width: 90%;
    margin:2%;
  }
}

.banner{
  height: 100vh;
  background-image: url("../../assets/splash2.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 0;
  background-position: center center;
}

.title{

  margin: 10%;
  color: white;
}

.chevron:hover{
font-size: x-large;
}

@media only screen and (min-width: 768px){
  .title{
    width: 30%;
    margin: 10%;
    color: white;
  }
  .banner{
    background-position:unset;
    justify-content: center;
  }

}

