<app-header user="notAuth"></app-header>

  <div class="banner">
    <div class="title">
    <h1>
      Welcome to RBC Uplift!
    </h1>
    <h4>
      Volunteer RBC Subject Matter Experts give advice to RBC Small Business Owners
    </h4>

    <a routerLink="./" fragment="login-section">
      <mat-icon>expand_more</mat-icon>
    </a>
  </div>
  </div>

<div class="login" id="login-section">
<div class="card card-style">
  <h4 class="card-header">Customers Login to Get Advice</h4>
  <div class="card-body">
      <form>
          <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control"/>
          </div>
          <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control"/>
             
          </div>
          <div class="form-group">
            <a routerLink="/customer/home" class="btn btn-warning">Login Customer</a>
             
          </div>
      </form>
  </div>
</div>
<div class="card card-style">
  <h4 class="card-header">Employees Login to Give Advice</h4>
  <div class="card-body">
      <form>
          <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control"/>
          </div>
          <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control"/>
             
          </div>
          <div class="form-group">
                <a routerLink="/employee/home" class="btn btn-warning">Login Employee</a>
                
          </div>
      </form>
  </div>
</div>
</div>


